<div class="panel panel-default">
  <div class="panel-heading" #heading>{{ name }}</div>
  <div class="panel-body">
    <!-- This is a directive, it serves as a hook to mark a place where angular should add any content between the open and close tags of this components selector (app-server-element in app.component.html) -->
    <ng-content></ng-content>
    <!-- <p>
      <strong *ngIf="element.type === 'server'" style="color: red">{{
        element.content
      }}</strong>
      <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
    </p> -->
  </div>
</div>
 